.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 10vh;
    color: white;
transition: all 0.5s;
transition-timing-function: ease-in;
z-index: 1;
}
.nav_black {
    background-color: rgb(20, 20, 20);
}
.header_container{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
}
.right ul {
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.center  ul{
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
}
.center{
    margin-right:40%;
}
.left ul {
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.header_outer_container a{
    text-decoration: none;
    color: white;
}

#check, .browse{
    display: none;
} 
.checkbtn #bars,
.checkbtn #cancle {
    color: white;
    font-size: 15px;
    float: right;
    margin: 25px 5px;
    cursor: pointer;
    display: none;
}
.box{
    width: 200px;
    height: 4px;
    background-color: black;
    position: relative;
    display:flex;
    align-items: center;
    padding: 15px;
    display: none;
}
.box > i{
font-size: 20px;
color: #777;
}
.box > input{
    flex:1;
    height:20px ;
    background-color: black;
    border-color: black;
}
#check:checked~ input{
    right:0
}

@media screen and (max-width:768px) {
     .browse{
        display: block
    }
    .center  ul li a{
        display: block;
        margin:40px 0 ;
    }
    .checkbtn #bars{
        display: block;
    }
    .center ul li a{
        background-color: rgb(6, 6, 6);
        position: fixed;
        text-align: center;
        width: 75%;
        height: 20vh;
        right: -120%;
        margin-left: 0;
        transition: all 0.3s;
        font-size: 20px;
        padding: 20px;
    }
   
    #check:checked~ li a{
        right:0
    }
    
    #check:checked~ label #bars{
        display: none;
    } 
    #check:checked ~ label #cancle{
display: block;    
} 

 
}

