 .header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 10vh;
    color: white;
transition: all 0.5s;
transition-timing-function: ease-in;
z-index: 1;
width: 100%;
 }
.nav_black {
    background-color: rgb(20, 20, 20);
}
.header_container{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
}

.header_left ul {
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
}
.header_left a{
text-decoration: none;
color: white;
}
.header_right ul {
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    
}
.header_right a{
    text-decoration: none;
    color: white;
}

#check, p{
    display: none;
}  
 .checkbtn #bars,
.checkbtn #cancle {
    color: white;
    font-size: 15px;
    float: right;
    margin: 25px 5px;
    cursor: pointer;
    display: none;
}  

@media screen and (max-width:768px) {
    .header_left ul li:not(:first-child ){
        display: none;
    }
   p{
    margin-top: 15px;
    margin-right: 0px;
    padding-right: 0px;
        display: block;

    } 
    .checkbtn #bars{
        margin-left: 0px;
        display: block;
    } 
    .center ul li a{
        background-color: rgb(6, 6, 6);
        position: fixed;
        text-align: center;
        width: 75%;
        height: 20vh;
        right: -120%;
        margin-left: 0;
        transition: all 0.3s;
        font-size: 20px;
        padding: 20px;
    } 
   
     #check:checked~  li a{
        right:0
    } 
     
 #check:checked~ label #bars{
        display: none;
    }  
    #check:checked ~ label #cancle{
display: block;    
} 

}








/* .dropdown{
    display: none;
} */
/* .box{
    width: 200px;
    height: 4px;
    background-color: black;
    position: relative;
    display:flex;
    align-items: center;
    padding: 15px;
    display: none;
}
.box:hover input{
width: 400px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas{
    color: aqua;
    font-size:20px ;
} 
.box > i{
font-size: 20px;
color: #777;
}
.box > input{
    flex:1;
    height:20px ;
    background-color: black;
    border-color: black;
} */



    
/* .dropdown{
    display: block;

} */



